html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.slideshow {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
}

.slideshow img.blur {
  filter: blur(5px);
}

.slideshow.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: black;
}

.slideshow.fullscreen img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
